* {
margin:0;
padding:0;
}
body {
	/*	pexels.com	*/
	background-image: URL("himage.jpeg");
	height: 1200px;
}
textarea{
		border: 3px solid #800000;
		border-radius: 10px;
		padding: 20px;
		width: 30%;
		height: 30px;
		color:white;
		background-color: black;
		display: block;
		margin-left: auto;
		margin-right: auto;
}
footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:20px;
	top: 1300px;
}

.foot{
	text-align:left;
}

#input-name{
	color: gold;
	text-align: center;
	font-size:50px;
	font-family: 'Black Han Sans', sans-serif;
}

.tright{
	width: 200px;
	display: inline;
	float:left;
	margin-left:25%;
	margin-top:0%;
}
.tleft{
	width:200px;
	float:right;
	display: inline;
	margin-right:25%;
	margin-top:0%;
}
.dropbtn {
   background-image: URL("icon.png");
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	background-size: 100%;
	border-radius: 10px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
	float:left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.menu {
	background-color: grey;
	opacity: 1;
	height: 75px;
	padding: 20px;
	z-index:2;
	position: relative;
	text-align:center;
	opacity:.7;
}
.btn {
  background-color: gold;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}
.btn:hover {opacity: 1}
.end{
	background-color: gold;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	opacity: 0.6;
	transition: 0.3s;
	float: left;
	color: black;
}
.end:hover {opacity: 1}

.menu h1 {
	color: gold;
	opacity: 1;
	text-align: center;
	font-size: 50px;
	font-family: 'Black Han Sans', sans-serif;
}
.intro {
	background-color: gray;
	color:gold;
	text-shadow: 2px 2px black;
	z-index:2;
	position: absolute;
	display: inline-block;
	margin-left: -500px;
	margin-right:0px;
	top: 750px;
	font-size: 30px;
	width: 50%;
	left: 50%;
	right:300px;
	border-radius: 5px;
	box-shadow: 5px 10px black;
	padding: 10px;
	text-align:center;
}
#box-text {
	background-image:url("https://get.pxhere.com/photo/man-person-black-and-white-people-girl-woman-photography-cute-male-female-love-model-young-sitting-couple-romance-romantic-two-monochrome-together-lifestyle-smiling-date-boyfriend-caucasian-cheerful-outdoors-happy-happiness-relationship-photograph-beauty-emotion-adult-couple-in-love-happy-couple-interaction-young-couple-photo-shoot-romance-couple-romantic-couple-love-couple-couples-in-love-monochrome-photography-portrait-photography-beautiful-couple-smiling-couple-human-positions-couple-smiling-850821.jpg");
	border: 3px solid gold;
	background-size:100% auto;
	border-radius: 50px;
	width: 97.5%;
	height:81%;
	display: inline-block;
	position: fixed;
	background-color:#800000;
	z-index:5;
	display: none;
	padding: 20px;
}
.pos{
	color: black;
	font-size: 30px;
	text-shadow: 2px 2px gold;
}
.basic{
	text-align: right;
	color: black;
	padding-right: 25px;
	text-shadow: 2px 2px gold;
	font-size: 30px;
}
.prem{
	color: black;
	text-shadow: 2px 2px gold;
	font-size: 30px;
}
.delux{
	text-align: right;
	color: black;
	padding-right: 25px;
	text-shadow: 2px 2px gold;
	font-size: 30px;
}
.vid{
	margin-left: 35%;
	margin-top: 200px;
	position: absolute;
}

